.bg-login-image {
    background: url(https://i.pinimg.com/originals/26/c9/a3/26c9a3c3340da4caa79a4b0e9e96d78a.jpg);
    background-position: center;
    background-size: cover;
}

  .character-container .card {
    width: 150px;
    height: 180px;
    align-items: center;
    margin: 0 20px;
  }
  
  .card img {
    width: 150px;
    height: 180px;
    object-fit: cover;
  
  }
   
  .heart {
    position: absolute;
    color: red;
    font-size: 2.5em;
    display: none;
  }
  
  .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }