.bg-login-image {
    background: url(https://i.pinimg.com/originals/26/c9/a3/26c9a3c3340da4caa79a4b0e9e96d78a.jpg);
    background-position: center;
    background-size: cover;
}

  .character-container .card {
    width: 150px;
    height: 180px;
    align-items: center;
    margin: 0 20px;
  }
  
  .card img {
    width: 150px;
    height: 180px;
    object-fit: cover;
  
  }
   
  .heart {
    position: absolute;
    color: red;
    font-size: 2.5em;
    display: none;
  }
  
  .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #weather-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

      color: white;
      background-attachment: static;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.2) 100%), url('https://cdn.dribbble.com/users/3693956/screenshots/6648726/mountainsparallaxfinal.gif');
  }

  #header-location {
      font-size: 2em;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  #header-weather {
    font-size: 1.8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }